body {
  background: linear-gradient(to bottom, #ff0080, #8000ff);
  /* Zmień kolory #ff0080 i #8000ff na wybrane kolory gradientu */
}

h1, h2 {
  color: white;
}

form {
  margin-bottom: 20px;
}

input[type="text"], input[type="number"] {
  padding: 5px;
}

button {
  padding: 5px 10px;
  background-color: #8000ff;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #ff0080;
}
